@import "../../common/variables.scss";
@import "../../common/extends.scss";

.footer {
    min-height: 278px;
    background: #000000;
    margin-top: 150px;
    padding: 50px 0 75px 0;

    // 320px-1024px
    @media screen and (min-width: $bpMS) and (max-width: $bpLap) {
        padding-bottom: 55px; 
    }

    .footerWrap {
        @extend %flex-between;
        margin: 0 auto;
        padding: 0 30px;
        max-width: 1410px;
        min-height: 100%;

        // 320xp-1024px
        @media screen and (min-width: $bpMS) and (max-width: $bpLap) {
            flex-direction: column;
            align-items: center;
            gap: 30px;  
        }

        .wrapFirstСontainer {
            @extend %flex-between;
            width: 620px;

            // 320px-425px
            @media screen and (min-width: $bpMS) and (max-width: $bpML) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            // 320px-768px
            @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
                justify-content: space-evenly;
            }

            .footerWrapLogoColumn {
                @extend %flex-between;
                flex-direction: column;

                // 320px-425px
                @media screen and (min-width: $bpMS) and (max-width: $bpML) {
                    align-items: center;
                    gap: 40px;
                }
                
                .logoColumnTextWrap {
                    display: grid;
                    grid-gap: 15px 60px;
                    color: #ffffff;
                    grid-template-columns: 1fr 1fr;

                    // 320px-425px
                    @media screen and (min-width: $bpMS) and (max-width: $bpML) {
                        font-size: 14px;
                        grid-gap: 15px 30px;
                    }
    
                    .textWrapItem {
                       @extend %font-settings-18-400;
                        text-align: left;
                        list-style-type: none;

                        // 320px-425px
                        @media screen and (min-width: $bpMS) and (max-width: $bpML) {
                            font-size: 14px;
                        }
                    }
                }
            }
    
            .footerWrapMenuColumn {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px 60px;
                list-style-type: none;

                // 320px-768px
                @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
                    grid-gap: 15px 30px;
                }
                
                .menuColumnWrapMenu {
                    @extend %font-settings-18-400;
                    color: #ffffff;

                    // 320px-425px
                    @media screen and (min-width: $bpMS) and (max-width: $bpML) {
                        font-size: 14px;
                    }
                }
            }
        }    

        .wrapSecondСontainer {
            @extend %flex-between;
            flex-direction: column;

            // 320px-768px
            @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
                gap: 40px;
                align-items: center;
            }

            .secondСontainerСontacts {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px 60px;
                list-style-type: none;

                // 320px-768px
                @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
                    grid-gap: 15px 30px;
                }

                .contactsLink {
                    @extend %font-settings-18-400;
                    color: #ffffff;

                    // 320px-425px
                    @media screen and (min-width: $bpMS) and (max-width: $bpML) {
                        font-size: 14px;
                    }
                }

                .contactsIconsWrap {
                    display: flex;
                    justify-content: flex-end;

                    .wrapContainer {
                        @extend %flex-between;
                        width: 112px;
                    }
                }
            }

            .secondСontainerСopyright {
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                color: #ffffff;
            }
        }
    }
}