@import "../../common/variables.scss";
@import "../../common/extends.scss";

.card {
    position: relative;
    @extend %flex-column;
    width: 330px;
    margin-top: 20px;

    .cardImg {
        overflow: hidden;

        img {
            @extend %wh100perc;
            object-fit: cover;
        }
    }

    .cardAutorContainer {
        @extend %flex-center;
        margin-top: 10px;

        .ContainerAutorInfoWrap {
            @extend %flex-column;
            margin-left: 10px;

            .AutorInfoWrapName {
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: center;
                list-style-type: none;
                font-weight: 600;
            }

            .AutorInfoWrapPictureName {
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
            }
        }
    }
}