.avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        text-align: center;
        object-fit: cover;
    }
}