.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 40px;

    @media screen and (max-width: 768px) {
        padding: 0 10px; 
    }
}