.logoLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;
    width: 100%; // TODO: need check this
    padding: 0 40px;
    box-shadow: 0px 10px 30px 4px #55698708;

    @media screen and (min-width: 320px) and (max-width: 425px) {
        padding: 0;
        justify-content: center;
    }

    & > svg {
        @media screen and (min-width: 320px) and (max-width: 425px) {
            display: none;
        }
    }

    & > svg ~ svg {
        @media screen and (min-width: 320px) and (max-width: 425px) {
            display: none;
        }
    }

    .logoLineWrap {
        display: flex;
        justify-content: space-between;
        min-width: 312px;

        @media screen and (min-width: 320px) and (max-width: 425px) {
            justify-content: center;
        }

        .WrapSettingsContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 146px;
        }
        
        .WrapАccountContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 136px;

            @media screen and (min-width: 320px) and (max-width: 768px) {
                justify-content: flex-end;
                // width: 0;
            }
        }
    }
}