.main {
    margin-top: 100px;

    .headerSection {
        display: flex;
        flex-direction: column;
        width: 100%;

        .headerSectionHeaderWrap {
            display: flex;
            justify-content: space-between;

            @media screen and (min-width: 320px) and (max-width: 768px) {
                justify-content: center
            }

            .headerWrapTitle {
                font-family: Roboto;
                font-size: 50px;
                font-weight: 400;
                line-height: 60px;
                letter-spacing: -0.02em;

                
                @media screen and (min-width: 320px) and (max-width: 768px) {
                    font-size: 40px;
                }
            }

            .headerWrapCount {
                font-family: Roboto;
                font-size: 50px;
                font-weight: 400;
                line-height: 60px;
                letter-spacing: -0.02em;

                @media screen and (min-width: 320px) and (max-width: 768px) {
                    display: none;
                }
            }
        }

        .headerSectionSearchWrap {
            display: flex;
            justify-content: space-between;
            margin-top: 22px;

            @media screen and (min-width: 320px) and (max-width: 768px) {
                justify-content: space-around;
            }
            
            .searchWrapContainer {
                display: flex;
                align-items: center;

                .SearchWrapTagsСontainer {
                    margin-left: 22px;

                    @media screen and (min-width: 320px) and (max-width: 768px) {
                        display: none;
                    }
                }
            }

            .SearchWrapClear {
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                border: 0;
                background: none;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .contentSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;

        .contentSectionFilterWrap {
            display: flex;

            @media screen and (min-width: 320px) and (max-width: 425px) {
                flex-direction: column;
                align-items: center;
            }

            @media screen and (min-width: 425px) and (max-width: 768px) {
                justify-content: space-around;
            }

            .testCatDelThis {
                width: 248px;
                height: 27px;
                margin-right: 30px;
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: 0em;
                background-color: beige;
            }
        }

        .contentSectionCardWrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 40px;
            margin-bottom: 100px;

            @media screen and (min-width: 1024px) {
                flex-wrap: nowrap;
            }

            @media screen and (min-width: 320px) and (max-width: 768px) {
                justify-content: center;
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
        margin-top: 30px;
    }
}