@import "./variables.scss";

// media extends
%extend-media-noneMS-ML {
    //320px - 425px
    @media screen and (min-width: $bpMS) and (max-width: $bpML) {
        display: none;
    }
}

%extend-media-noneMS-TB {
    //320px - 768px
    @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
        display: none;
    }
}

// flex extends
%flex-center {
    display: flex;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-column-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

%flex-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// fonts settings 
%font-settings-18 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    list-style-type: none;
}

%font-settings-18-400 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
}

%font-settings-50 {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.02em;
}

//width & height

%wh100perc {
    width: 100%;
    height: 100%;
}
