.filterTag {
    display: inline-block;
    padding: 6px 10px;
    background: #F6F6F6;
    margin-left: 10px;

    .filterTagText {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-left: 8.5px;
    }
}