@import "../../common/variables.scss";
@import "../../common//extends.scss";

.main {
    margin-top: 100px;

    .headerSection {
        @extend %flex-column;
        width: 100%;

        .headerSectionHeaderWrap {
            display: flex;
            justify-content: space-between;

            @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
                justify-content: center;
            }

            .headerWrapTitle {
                @extend %font-settings-50;
                
                @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
                    font-size: 40px;
                }
            }

            .headerWrapCount {
                @extend %font-settings-50;
                @extend %extend-media-noneMS-TB;
            }
        }

        .headerSectionSearchWrap {
            display: flex;
            justify-content: space-between;
            margin-top: 22px;

            @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
                justify-content: space-around;
            }
            
            .searchWrapContainer {
                @extend %flex-center;

                .SearchWrapTagsСontainer {
                    margin-left: 22px;
                    @extend %extend-media-noneMS-TB;
                }
            }

            .SearchWrapClear {
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                border: 0;
                background: none;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .contentSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;

        .contentSectionFilterWrap {
            display: flex;

            @media screen and (min-width: $bpMS) and (max-width: 425px) {
                flex-direction: column;
                align-items: center;
            }

            @media screen and (min-width: 425px) and (max-width: $bpTB) {
                justify-content: space-around;
            }
        }

        .contentSectionCardWrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 40px;
            margin-bottom: 100px;

            @media screen and (min-width: 1024px) {
                flex-wrap: nowrap;
            }

            @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
                justify-content: center;
            }
        }
    }

    @media screen and (min-width: $bpMS) and (max-width: $bpTB) {
        margin-top: 30px;
    }
}